/* Stylesheet code */
body {
    font-family: verdana, sans-serif;
    background-color: white;
}
h2 {
    color: darkblue;
    border-bottom: 1pt solid;
    width: 100%;
}
h3 {
    color: black;
    border-bottom: 1pt solid;
    width: 100%;
}
#js_error {
    text-align: left;
    color: red;
    margin-top: 4pt;
}
#version {
    text-align: right;
    color: steelblue;
    border-top: darkblue 1pt solid;
    margin-top: 4pt;
}
th {
    text-align: middle;
    padding: 2pt;
    vertical-align: top;
}
td {
    padding: 2pt;
    vertical-align: top;
}
/* End Stylesheet code */

